h1 {
	font-size: 50px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 30px;
}

pre {
	font-size: 30px;
	padding: 5px;
	margin: 5px;
}

a {
	font-size:25px;
	target="blank";
}

a:link {
	color: blue;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: red;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: green;
	background-color: transparent;
	text-decoration: underline;
}

li {
	padding: 5px;
	margin: 5px;
}

